/**
 * CERN IT-CDA-AD 01/02/2019
 * Piotr Jan Seweryn
 * CERNBox integration application for Gantt Chart Viewer
 * This software is covered by Affero General Public License version 3: ../license.txt
 *
 * This software was based on the work available at https://github.com/pawelrojek/nextcloud-drawio
 *
 **/

.icon-gantt-new
{
    background-image: url("../img/gantt-15.svg");
}

.icon-gantt
{
    background-image: url("../img/gantt-100.svg") !important;
}

#app > iframe
{
    vertical-align: top;
}

#iframeEditor {
	display: block;
	width: 100%;
	height: 100%;
}

#iframeEditor.error
{
    color: red;
}
